* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*     border: 1px solid salmon; */
}

.image-div {
    padding: 5rem;
    background-image: url(/images/theater.jpg);
    background-position: center;
    background-size: cover;
}

.hide {
    display: none;
}

.flex {
    display: flex;
}

.fa:hover,
button:hover {
    cursor: pointer;
}

.fa {
    text-align: center;
}

.fa-plus,
.fa-search {
    background-color: lightgray;
    border-radius: 50%;
    padding: .5rem;
}

.search {
    align-items: center;
}

.display-info {
    border-radius: .9rem;
    border: 1px solid gray;
    background-color: rgb(90, 88, 88, 0.6);
    backdrop-filter: blur(15px);
}

a {
    color: white;

    :visited {
        color: white;
    }
}


.main {
    width: 100%;
    justify-content: space-between;
}

header {
    align-items: center;
    border-bottom: 1px solid gray;
    padding-bottom: .5rem;
}

textarea,
#search-movies-input {
    width: 60%;
    padding: .5rem;
    border-radius: .5rem;
    background-color: rgba(240, 240, 240, 0.6);
    font-family: sans-serif;
    font-size: .9rem;
    resize: none;
}

#search-movies-input {
    margin-right: .5rem;
}

#movie-info-display {
    width: 85%;
    padding: .8rem;

    >* {
        margin-bottom: .5rem;
    }

    div {
        padding: .9rem;

        >* {
            margin-bottom: .5rem;
        }
    }
}

/* #side-nav-parent {
    align-items: center;
} */

#side-nav {
    height: 50%;
    min-height: 200px;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 1.5rem 0;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(90, 88, 88, 0.6);
    backdrop-filter: blur(15px);

    >a {
        padding: .5rem;
    }
}

#movie-title-display {
    margin-right: 1.5rem;
}

textarea {
    margin-right: .9rem;
}

button {
    background-color: rgba(240, 240, 240, 0.6);
    padding: .5rem;
    border-radius: 5px;
}

#comments {
    align-items: end;
}