* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*border: 1px solid salmon;*/
}

html {
  font-family: sans-serif;
}

body {
  color: white;
}

/* #notification {
    width: 100px;
    background-color: bisque;
    position: absolute;
    bottom: 0;
} */
.image-div {
  padding: 3rem;
  background-image: url(theater.jpg);
  background-position: center;
  background-size: cover;
  background-color: black;
  min-height: 100vh;
}

.flex {
  display: flex;
}

.hide {
  display: none;
}

.fa-home,
.fa-play-circle {
  font-size: 1.5rem;
}

.fa:hover,
button:hover {
  cursor: pointer;
}

.fa {
  text-align: center;
}

.fa-plus,
.fa-search,
#favorite-movie {
  background-color: lightgray;
  border-radius: 50%;
  padding: 0.5rem;
}

.star-filled {
  color: rgb(255, 206, 43);
}

.search {
  align-items: center;
}

.display-info {
  border-radius: 0.9rem;
  padding: 2rem;
  border: 1px solid gray;
  background-color: rgba(90, 88, 88, 0.6);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  min-height: 80vh;
  width: 80vw;
  min-width: 80vw;
}

a {
  color: white;
}
a :visited {
  color: white;
}

.main-wrapper {
  width: 100%;
  justify-content: space-evenly;
  position: relative;
}

header {
  align-items: center;
  border-bottom: 1px solid gray;
  padding-bottom: 0.5rem;
}

textarea,
#search-movies-input {
  width: 60%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgba(240, 240, 240, 0.6);
  font-family: sans-serif;
  font-size: 0.9rem;
  resize: none;
}

#search-movies-input {
  margin-right: 0.5rem;
}

#movie-info-display {
  width: 85%;
  padding: 0.8rem;
}
#movie-info-display > * {
  margin-bottom: 0.5rem;
}
#movie-info-display div {
  padding: 0.9rem;
}
#movie-info-display div > * {
  margin-bottom: 0.5rem;
}

/* #side-nav-parent {
    align-items: center;
} */
#side-nav {
  height: 50%;
  min-height: 200px;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 1.5rem 0;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(90, 88, 88, 0.6);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  position: sticky;
  top: 5rem;
  padding: 2rem 0.5rem;
}

#display-movies,
#saved-movies-ul,
#favorited-movies-ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
#display-movies li,
#saved-movies-ul li,
#favorited-movies-ul li {
  list-style-type: none;
  max-width: 138px;
}
#display-movies li :hover,
#saved-movies-ul li :hover,
#favorited-movies-ul li :hover {
  cursor: pointer;
}

#movie-title-display {
  margin-right: 1.5rem;
}

textarea {
  margin-right: 0.9rem;
}

button {
  background-color: rgba(240, 240, 240, 0.6);
  padding: 0.5rem;
  border-radius: 5px;
}

#comments {
  align-items: end;
}

#comments-ul {
  width: 60%;
  max-height: 300px;
  overflow: auto;
}
#comments-ul li {
  list-style: none;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid lightgray;
}

.null-image {
  width: 92px;
  height: 138px;
  background-color: black;
}

.null-image2 {
  width: 185px;
  height: 278px;
  background-color: black;
}

@media only screen and (max-width: 1366px) {
  #display-movies,
  #saved-movies-ul,
  #favorited-movies-ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
@media only screen and (max-width: 819px) {
  #display-movies,
  #saved-movies-ul,
  #favorited-movies-ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}/*# sourceMappingURL=styles.css.map */